/* sales.html styles */

#table > table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

/* index.html styles */

/* img {
  display: block;
  margin: 0 auto;
} */

#chinook {
  display: block;
  margin: 0 auto;
}

#family {
  height: 200px;
  width: 350px;
}

.three-image-div {
  text-align: center;
}

#three-image-div > img {
  padding: 20px;
}

#locations {
  font-size: 20px;
}