/* sales.html styles */

#table > table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

/* index.html styles */

#locations {
  background-color: blue;
  font-size: 20px;
}