/* sales.html styles */

#table > table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  color: silver;
  font-family: Arial, Helvetica;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

p, li {
  font-family: "Georgia";
  color: whitesmoke;
}

body {
  background-color: salmon;
}

/* index.html styles */

/* img {
  display: block;
  margin: 0 auto;
} */

.headline {
  font-family: 'Merriweather', serif;
  color: navy;
}

.center {
  text-align: center;
}

#chinook {
  display: block;
  margin: 0 auto;
}

#family {
  height: 200px;
  width: 350px;
}

/* .three-image-div {
  text-align: center;
} */

/* #index-body {
  background-color: salmon;
} */

#three-image-div > img {
  padding: 20px;
}

#about p {
  width: 500px;
  margin: 0 auto;
}
#title {
  color: black;
}

.container {
  background-color: slategrey;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#table-container {
  width: 900px;
  padding-left: 100px;

}

#sales-title {
  color: silver;
  font-family: Arial, Helvetica;
}


